# this .gitignore uses the best practice described in this article: https://rgbcu.be/blog/gitignore/
*

!.gitignore
!.gitlab-ci.yml
!.pre-commit-config.yaml


!README.md

!specs/
!specs/bitboard_methods_for_games-Cameron_Browne-2014.pdf
!specs/othello_is_solved.pdf
!specs/othello-specs.pdf
!specs/GanttChart.gantt

!othello/
!reports/
!reports/preliminary
!reports/preliminary/Othello-Python.pdf
!reports/preliminary/images
!reports/preliminary/images/*.jpg
!reports/preliminary/images/*.jpeg
!reports/preliminary/images/*.png
!reports/final

!othello/.gitkeep
!reports/final/.gitkeep
!reports/preliminary/.gitkeep
!reports/preliminary/report.tex
!reports/preliminary/report1.tex
!reports/preliminary/images/*
